<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "../dtd/spring-beans.dtd">

<beans>

  <!-- 
       Message Source
       
       Message source for this context, loaded from localized
       "messages_xx" files.
  -->

  <bean id="messageSource" 
        class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>messages</value>
      </list>
    </property>										
  </bean>


  <!-- 
       Default View Resolver
       
       Maps logical view names to JSPs. 
  -->

  <bean id="viewResolver" 
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="cache" value="true"/>
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <property name="suffix" value=".jsp"/>
  </bean>


  <!-- 
       Abstract Default Exception Handler Bean 
  -->

  <bean id="defaultExceptionHandlerTemplate" 
        class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver" 
        abstract="true">
    <property name="defaultErrorView" value="defError"/>
    <property name="exceptionMappings">
      <props>
        <prop key="javax.portlet.PortletSecurityException">notAuthorized</prop>
        <prop key="javax.portlet.UnavailableException">notAvailable</prop>
      </props>
    </property>  
  </bean>


  <!--
      Data Source
      
      UofG Portal Application data source.
  -->

  <bean id="dataSource"
        class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName">
      <value>java:comp/env/jdbc/PortalDb</value>
    </property>
  </bean>

  <!--
      Primary key incrementer.
  -->

  <bean id="abstractIncrementer" abstract="true"
        class="org.springframework.jdbc.support.incrementer.PostgreSQLSequenceMaxValueIncrementer">
    <property name="dataSource"><ref bean="dataSource"/></property>
  </bean>

</beans>
